Introduction

  Welcome to the project site of the Commons eID Project.
  The Commons eID project delivers several artifacts to enable the Belgian eID within your Java based applications.
  The Commons eID project also supports belpic applet version 1.8 eID cards, which come with elliptic curve keys
  instead of RSA keys.

  The architecture of the Commons eID project is specially tailored to be able to serve both
  desktop applications and lightweight web browser components. Desktop applications basically use all
  artifacts together whereas lightweight components use the client artifact only at the client-side, and use the
  consumer artifact at the server-side.
  
  Furthermore, the Commons eID project delivers an eID specific JCA security provider. This gives
  you seamless integration of the eID card into the security architecture of Java.
  
  Commons eID requires Java 8 or higher and is known to work on Windows, Mac OS X, Linux, and FreeBSD.
  
  
* Modules  
  
** Commons eID Client

  This artifact contains the basic eID I/O code to read out eID files, and to sign.

** Commons eID Dialogs

  This artifact contains generic dialogs for eID PIN entry and such.

** Commons eID Consumer

  This artifact contains eID consumer handling code like for example the TLV parser.

** Commons eID JCA

  This artifact provides a JCA security provider for the eID card.

** Commons eID BOM

  This artifact delivers a bill of materials POM for the Commons eID project.


* Maven

  In your <<<pom.xml>>> you put the following under the <<<repositories>>> element:
  
+---
<repository>
	<id>e-Contract.be</id>
	<url>https://www.e-contract.be/maven2/</url>
	<releases>
		<enabled>true</enabled>
	</releases>
</repository>
+---

  Put the following under the <<<dependencyManagement>>> element of your <<<pom.xml>>>:

+---
<dependency>
	<groupId>be.fedict.commons-eid</groupId>
	<artifactId>commons-eid-bom</artifactId>
	<version>${project.version}</version>
	<type>pom</type>
	<scope>import</scope>
</dependency>
+---

  Now you can include a Commons eID module within the <<<dependencies>>> element of your <<<pom.xml>>> as follows:

+---
<dependency>
	<groupId>be.fedict.commons-eid</groupId>
	<artifactId>commons-eid-jca</artifactId>
</dependency>
+---
